includes:
    - vendor/rollerscapes/standards/phpstan.neon
    #- phpstan-baseline.neon

parameters:
    level: 5
    #reportUnmatchedIgnoredErrors: false

    paths:
        - ./src
        - ./tests
    excludePaths:
        - ./src/Resources

    #ignoreErrors:
